
<%-include("includes/head.ejs")%>
<body>
    

    <div class="user">


    hdsbj
<% posts.map((val,index)=>{ %>
   
<h1 class="user"><%= index + 1 %>. <%=val.username%></h1>
<h1><%= val.content%> </h1>
<h2>Skills: 
    <% val.skill.forEach((skill,i,arr )=> { %>
        <span><%= skill %></span><%= i < arr.length - 1 ? ", " : "" %>
    <% }) %>
</h2>
<h1><%= val.study%> </h1>
<h1><%= val.city%> </h1>
<hr>
    
<% }) %>
    </div>
    <script src="/apidata.js"></script>
</body>
</html>