<%-include("includes/head.ejs")%>
<body>
    <h1>Welcome @<%= data.name %></h1>
    <button>Followers</button>
    <button>Following</button>
<h2>Followers:<%= data.followers%> &nbsp;&nbsp;&nbsp;&nbsp;Following:<%= data.following %></h2>
    <!-- <h1>Accounts thatfollow you  ::<%= data.like%></h1> -->
     <hr>
     <div class="main">
    <ul>
       <% for(post of data.posts){%> 
<img src="<%= post.image%>" style="width: 200px; height: 200px;" alt="">
<h2>likes:<%=post.likes%></h2>
<h2>Comment:<%=post.comments%></h2>
       <%}%>

        <!-- <%for(name of arr){%>
            <li><%=name%></li>
    <%}%> -->
    </ul>
    <%-include("includes/footer.ejs")%>
    </div>
    <script src="/script.js"></script>
</body>
</html>